.navbar-default{
	background-color:transparent;
}


.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus
{
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #4b4d4d;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active {
  color: #ffffff;
  background-color:#0a4168;
}
.navbar{
	border:0px;
	min-height:30px;
}


.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus{
  color: #fff;
  background-color: #0a4168;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-nav > li > a{
	padding:18px 22px;
	font-family:'Open Sans Regular';
}
.nav > li > a:focus{
	background-color:#136dac;
	color:#fff;
}
.nav-tabs{
	border-bottom:1px solid #c9c9c9;
}
.nav-tabs > li > a{
	border-radius:0px;
	border-bottom:1px solid #c9c9c9;
	font-family:'Open Sans Regular';
	font-size:14px;
	border-left:none;
	border-right:none;
	color:#fff;
	background-color:#2f97f8;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus{
	background-color:#2b84d7;
	color:#fff;
	font-family:'Open Sans Regular';
	font-size:14px;
	border-bottom:1px solid #c9c9c9;
	border-top:1px solid #2f97f8;
	border-left:none;
	border-right:none;
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus{
	border-radius:0px;
	background:#fff;
	color:#136DAC;
	font-family:'Open Sans Bold';
	border-left:1px solid #c9c9c9;
	border-right:1px solid #c9c9c9;
	border-top:1px solid #c9c9c9;
}
.tab-content{
	padding:20px 10px;
	border:1px solid #c9c9c9;
	border-top:0px;
	min-height:60px;
}



.navbar-default .navbar-nav > .dropdown > a .caret{
	border-top-color:#fff;
	border-bottom-color:#fff;
	margin-left:5px;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret{
	border-top-color:#fff;
	border-bottom-color:#fff;
}

p{
	margin-bottom:3px;
}
.thumbnail{
	padding:2px;
	border-radius:2px;	
}
.input-group > .form-control{
	border-right:0px;
}
.input-group > .form-control:focus{
	border:2px solid #2f97f8;
	border-right:0px;
}
.form-control{
	border: 1px solid #c9c9c9;
	border-radius: 0px;
	box-shadow:0px;
	font-family:'Open Sans Regular';
}
.form-control:focus{
	border:2px solid #136dac;
	box-shadow:none;
	border-color:#2f97f8;
}
.form-control[disabled], 
.form-control[readonly], 
fieldset[disabled] .form-control{
	box-shadow:none;
	cursor:default;
}
.form-control[readonly]:focus{
	border:1px solid #c9c9c9;
}
.form-control[readonly] + .input-group-addon,
.form-control[disabled] + .input-group-addon{
	background-color:#eeeeee;
}
.form-control[readonly]:focus + .input-group-addon,
.form-control[disabled]:focus + .input-group-addon{
	border:1px solid #c9c9c9;
	border-left:0px;
	background-color:#eee;
}
.input-group > .form-control[readonly]:focus,
.input-group > .form-control[disabled]:focus {
	border-right:0px;
}

.form-control:-moz-placeholder {
  color: #cdcdcd;
}

.form-control::-moz-placeholder {
  color: #cdcdcd;
}

.form-control:-ms-input-placeholder {
  color: #cdcdcd;
}

.form-control::-webkit-input-placeholder {
  color: #cdcdcd;
}

.input-group-addon{
	border: 1px solid #c9c9c9;
	border-radius: 0px;
	background-color:transparent;
}
.input-group-addon:focus{
	border:2px solid #2f97f8;
	box-shadow:none;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  cursor: default;
  background-color: #136dac;
  border-color: #136dac;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span{
	border-bottom-left-radius:0px;
	border-top-left-radius:0px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span{
	border-bottom-right-radius:0px;
	border-top-right-radius:0px;
}



.modal-header{
	background-color:#136dac;
}
.navbar{
	margin-bottom:0px;
}
.breadcrumb {
 /* padding: 8px 10px;*/
 padding:10px;
  margin-bottom: 0px;
  list-style: none;
  background-color: #ededed;
  border-radius: 0px;
  margin:10px 18px;
 
}

.breadcrumb > li {
  display: inline-table;
}
.breadcrumb > li > a{
	color:#4b4d4d;
	font-family:'Roboto Medium';
}
.breadcrumb > li > a:hover{
	text-decoration:none;
	color:#00aedb
}

.breadcrumb > li + li:before {
  padding: 0 8px;
  color: #cccccc;
  font-family:'Fontello';
  content: "\eaa6";
}

.dropdown-menu {
  background-color: #0a4168;
  border:0px;
  border-radius:0px;
  box-shadow:none;
}

.dropdown-menu > li > a {
  color: #fff;
  padding-top:7px;
  padding-bottom:7px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #4b4d4d;
  text-decoration: none;
  background-color: #fff;
}
.list-group-item:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.navbar-collapse{
	max-height:100%;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #4b4d4d;
    background-color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #4b4d4d;
    background-color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}


@media (max-width:767px){
	.navbar-nav > li > a{
		padding:5px 22px;
	}	
	.navbar-collapse.in{
		width:100%;
	}
	.navbar-nav .open .dropdown-menu > li > a,
	.navbar-nav .open .dropdown-menu .dropdown-header{
		padding:5px 15px 5px 35px;
	}
	.navbar-default .navbar-collapse{
		border-top:none;
	}
	.collapsing{
		width:100%;
	}
}
@media (max-width:468px){
	ul.nav-tabs > li{
		width:100%;
	}
	ul.nav-tabs > li > a{
		margin-right:0px;
	}
}
/*---------------------
UI DATEPICKER CUSTOM
---------------------*/
.ui-datepicker{
	padding:0px;
}

.ui-corner-all, 
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br{
	border-radius:0px;
}
.ui-widget{
	font-family:'Open Sans Regular';
}
.ui-widget-header{
	background:#136dac;
	color:#fff;
	border:0px;
}
.ui-datepicker .ui-datepicker-header{
	padding:.3em 0;
}
/*.ui-state-hover{
	background:#1171a3;
	border:0px;
}*/
.ui-state-hover .ui-datepicker-next-hover{
	border:0px;
}
.ui-state-hover, 
.ui-widget-content 
.ui-state-hover, 
.ui-widget-header 
.ui-state-hover, 
.ui-state-focus, 
.ui-widget-content 
.ui-state-focus, 
.ui-widget-header 
.ui-state-focus {
	border: 1px solid #999999; 
	background: #00aedb url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; 
	font-weight: normal; 
	color: #fff; 
	text-align:center;
}
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default{
	border: 1px solid #fff; 
	/*background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; */
	font-weight: normal; 
	background-image:none;
	/*color: #555555;*/
	text-align:center; 
	outline:0;
}
.ui-state-highlight, 
.ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight{
	border: 1px solid #136dac; 
	background: #136dac /*url(images/ui-bg_glass_55_fbf9ee_1x400.png)*/ 50% 50% repeat-x; 
/*	color: #363636; */
	font-family:'Open Sans Bold';
	color:#fff;
}
.ui-state-default .ui-state-hover{
	color:#fff;
}
.ui-datepicker-calendar > thead{
	 border-bottom:0px;
	 /*background-color:#e5f4ff;*/
}
.ui-datepicker-calendar > tbody{
	border:1px solid #e9e9e9;
}
.ui-datepicker-calendar > tbody > tr{
	border:1px solid #e9e9e9;
}
.ui-datepicker-calendar > tbody > tr > td{
	border:1px solid #e9e9e9;
}

.ui-icon-circle-triangle-e{
	background-position: -32px -16px;
}
.ui-icon-circle-triangle-w{
	background-position: -96px -16px;
}
.ui-widget-content { 
border: 1px solid #c9c9c9; 
/*background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; 
color: #222222; */
}
span.ui-button-text{
	outline:0;
}

.list-group-item{
	font-family:'Open Sans Bold';
    font-size:14px;
}
a.list-group-item {
    color: #4078c0;
}
.list-group-header{
	font-family:'Open Sans Bold';
    font-size:16px;
    background-color: #f5f5f5;
    color: #000;
}


.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #4078c0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left: 3px solid #d26911
}

.list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #000;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #4078c0;
    border-left: 3px solid #d26911
}

.panel-title{
	font-family:'Open Sans Bold';
    font-size:18px;
}
.panel-heading{
	padding: 15px;
}

/*---------------
 GRIDDLE STYLES
---------------*/

.griddle-container{
  border:0;
}

.griddle-table{
	width: 100%;
}
.griddle-row-table{
	width: 100%;
}
.griddle-row-table-td1{
	border-bottom:1px solid #f5f5f5;
	width: 10%;
	font-size:18px;
	text-align: center;
	color: #666;
	font-family:'Open Sans Regular';

}
.griddle-row-table-td2{
	border-bottom:1px solid #f5f5f5;
	width: 80%;
}
.griddle-row-table-td2 > h4{
	font-family:'Open Sans Semi Bold';
    font-size:18px;
	margin-bottom: 5px;
}
.griddle-row-table-td2 > p {
	margin-bottom: 15px;
    font-family:'Open Sans Regular';
}


.griddle-row-table-td3{
	border-bottom:1px solid #f5f5f5;
	width: 10%;
	font-family:'Open Sans Regular';
    font-size:14px;
}



