
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: 'Roboto';
  font-size: 14px;
}

#app {
  width: 100%;
  height: 100%;
}

#app > div {
  display: flex;
  display: -webkit-flex;  
  flex-direction: column;
  -webkit-flex-direction: column;  
  width: 100%;
  height: 100%;
}

header {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  padding: 0;  
}


.main { 
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  display: flex;
  display: -webkit-flex;  
}

.navigation-bar {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;   
  width: 240px;
  background-color: #fcfcfc;
  border-right: 1px solid #e5e5e5;
}

.child-content {
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;    
  background-color: #ffffff;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;    
}

.child-content-header{  
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;    
  height: 60px;
  border-bottom: 1px solid #e5e5e5;
}

.child-main-content {
  flex: 1 1 0;
  -webkit-flex: 1 1 0;  
  overflow:auto;
  background-color: #ffffff; 
  padding-top: 10px;   
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .child-main-content {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .child-main-content {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .child-main-content {
    width: 1170px;
  }
}

@media (min-width: 1300px) {
  .child-main-content {
    width: 1120px;
  }
}

footer {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  font-size: 12px;
  padding: 12px 20px;
  border-top: 1px solid #e5e5e5;
}


a {
  color: #000000;
  text-decoration: initial;
}

a:hover, a:active, a.active {
  color: #42a5f5;
}

pre {
  white-space: pre;
}

.my-pane {
  margin: 20px;
}

.not-found {
  margin: 20px;
}

.navSideTitle {
  height: 40px;
}

.navSideTitle > p{
  font-family: 'Roboto';
  font-weight: 300;
  padding-left: 20px;
  color: #616161;
  font-size: 20px;

}

/** FORMS  */
.required_asterisk{
  font-family: 'Roboto';
  font-size: 10px;  
  color: #ff0000;
}
.control-label{
  color: #000;
  font-family:'Roboto';
  font-size:13px; 
  font-weight: 500;
}
.input-group > .form-control{
  border-right:0px;
}
.input-group > .form-control:focus{
  border:1px solid #2f97f8;
  border-right:0px;
}
.form-control{
  border: 1px solid #c9c9c9;
  border-radius: 0px;
  box-shadow:0px;
  font-family:'Roboto'; 
  font-size:13px; 
  padding: 4px 6px;
  height: 26px;
}
.form-control:focus{
  border:1px solid #136dac;
  box-shadow:none;
  border-color:#2f97f8;
}
.form-control[disabled], 
.form-control[readonly], 
fieldset[disabled] .form-control{
  box-shadow:none;
  cursor:default;
}
.form-control[readonly]:focus{
  border:1px solid #c9c9c9;
}
.form-control[readonly] + .input-group-addon,
.form-control[disabled] + .input-group-addon{
  background-color:#eeeeee;
}
.form-control[readonly]:focus + .input-group-addon,
.form-control[disabled]:focus + .input-group-addon{
  border:1px solid #c9c9c9;
  border-left:0px;
  background-color:#eee;
}
.input-group > .form-control[readonly]:focus,
.input-group > .form-control[disabled]:focus {
  border-right:0px;
}

.form-control:-moz-placeholder {
  color: #cdcdcd;
}

.form-control::-moz-placeholder {
  color: #cdcdcd;
}

.form-control:-ms-input-placeholder {
  color: #cdcdcd;
}

.form-control::-webkit-input-placeholder {
  color: #cdcdcd;
}

.btn{
  border-radius: 1px;
  font-family:'Roboto'; 
  padding: 2px 15px;
}

.input-group-addon{
  border: 1px solid #c9c9c9;
  border-radius: 0px;
  background-color:transparent;
}
.input-group-addon:focus{
  border:2px solid #2f97f8;
  box-shadow:none;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: 0px;
}

.radio, .checkbox{
  font-family:'Roboto'; 
  font-size:13px; 
  margin-top: 0px;
}


.radio-flex{
  display:flex;
  display: -webkit-flex;
  flex-direction: row nowrap;
  -webkit-flex-direction: row nowrap;  
}

.radio-flex-el{
  width: 100px;
}

.save-container{
  border-top: 1px solid #e5e5e5;
  padding-top: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.row{
  margin-right: 0px;
}
.fixed-dt-checkbox{
  margin: 5px;
}

